.required-mark{
    margin-left: 5px;
    font-size: @font-size-xxsmall;
    font-weight: normal;
    color:#fff;
    background-color: #C00;
    border-radius: 2px;
    padding: 0.25em 0.375em;
}

.info-mark{
    margin-left: 5px;
    font-size: @font-size-xxsmall;
    font-weight: normal;
    color:#fff;
    background-color: #5fa8cc;
    border-radius: 2px;
    padding: 0.25em 0.375em;
}
.category-user{
    background-color: #f0ead8;
    padding: 2em 4em;
}

.btn-basic{
    width: 50%;
    margin: 1em auto;
    text-align: center;
    display: block;
}
